<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Now!</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body >
    <div id="mainBody " class="row w-100 m-auto  " style="height: 100vh;">
            <div class="col-9 mx-auto text-center  align-items-center d-flex">

                <form  action="/login" method="POST"  class="rounded bdRad   p-4 mx-auto my-auto d-flex flex-column " style="width:400px;transform: scale(1.1);" id="userLoginForm">
                    <h2 class=" text-center text-white">Join'e Chat n Code</h2>
                    <p id="validError" class=" text-light text-center  rounded px-2  "><%=validError %></p>
                    <input onkeyup="isUserNameValid(this.value)" id="userName" type="text" name="userName" placeholder="Display Name" value="<%= nameValue %>"  class="form-control shadow m-1 bg-light br3 p-2 border-0 border-black" required >
                    <input onkeyup="isRoomNameValid(this.value)" id="roomName" type="text" name="roomName" placeholder="Room Name" value="<%= roomValue %>" onchange="checkVal(this.value)" class="form-control shadow m-1 bg-light br3 p-2 border-0 border-black" required >
                    <button type="submit" class="form-control shadow  btn-primary m-1">Let's Go</button>
                </form>

            </div>

            <p class="bottom-mark">Developed by @RamGoel</p>
     
            <script src="socket.io/socket.io.js"></script>
    </div>
    <script>
    function isUserNameValid(username) {
  
        if(username.length<3){
            document.getElementById('validError').innerHTML="Length Should be greater than 2"
        }else{

            const res = /^[a-z]+$/.exec(username);
            const valid = !!res;
        if(valid==0 ){
            
            document.getElementById('userName').style.color="red"
            document.getElementById('validError').innerHTML="Can only contain small letters."
            
        }else{
            document.getElementById('userName').style.color="black"
            document.getElementById('validError').innerHTML=`Valid UserName <i class="fa fa-right"></i>`
            
        }

        }
}
    function isRoomNameValid(username) {
  
        if(username.length<3){
            document.getElementById('validError').innerHTML="Length Should be greater than 2"
        }else{

            const res = /^[a-z]+$/.exec(username);
            const valid = !!res;
            if(valid==0 ){
                document.getElementById('roomName').style.color="red"
                document.getElementById('validError').innerHTML="Can only contain small letters."
            }else{
                document.getElementById('roomName').style.color="black"
                document.getElementById('validError').innerHTML=`Valid UserName <i class="fa fa-right"></i>`
                
            }
        }
}
    </script>
</body>
</html>